#breakNews {
background:transparent url(/js_img/20120628/backbar.gif) no-repeat scroll center top;
float:left;
margin-top:5px;
padding:0 0 3px 2px;
width:100%;
height: 70%;
}
#breakNews .list6 {color:#333333;float:left;height:350px;margin-top:11px;width:240px; padding-left:10px;
}
#breakNews .list6 li{ padding:3px 0;}
#breakNews .hit {float:right;height:24px; margin-top:23px; width:17px;}
#breakNews .hit span { display:block;float:left;height:13px; margin-bottom:6px;width:13px;}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.5em;
	font-family:Arial, YaHei Consolas Hybrid,"微软雅黑";
	outline:none;
	box-sizing:border-box;
	border:none;
	list-style: none;
	color:#333;
}
ul{
	/*text-align: right;*/
}
body{
	padding-top: 6%;
	background-image: url(./bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#zh{
	margin:0 auto;
	width: 300px;
	height: auto;
}

#uid{
	border: 1px solid #777;
	padding: 3px 5px;
	border-radius: 5px;
    height: 30px;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
}

#btn{
	height: 30px;
    margin-left: 3%;
    margin-top: 10px;
    width: 65px;
    border-radius: 5px;
    background-color: rgba(210,150,121,0.7);
    cursor: pointer;
    color: white;
}

.show{
	margin:0 auto;
	width:400px;
	height:100px
}
#breakNews>div{
	border-radius: 10px;
	width: 20%;
	height: 400px;
	margin:6% 0;
	margin-left: 10%;
	padding: 12px 5px;
	overflow: scroll;
	background-color: rgba(255,255,255,0.7);
	float: left;
	border:1px solid #777;
}